

.Blog {
    display: flex;
    flex-flow: row wrap;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    width: 80%;
}
.Blog ul{
    margin: 0;
    padding: 0;
    width: 100%;
    list-style: none;
    text-align: center;
}
.Blog li{
    display: inline-block;
    margin: 20px;
}
.Blog a{
    color: #000;
    text-decoration: none;
}

.Blog a:hover,
.Blog a:active,
.Blog a.active{
    color: #fa923f;
}